<div class="card text-bg-primary mb-3 col-12 w-75">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="col">
        <p>{{user_Name}} on {{date}}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <div class="dropdown">
      <button id="commentBTN" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Add a comment
      </button>
      <div class="dropdown-menu p-4" id="commentBlock" data-blogId="{{id}}">
        <div class="mb-3">
          <label >Comment:</label>
          <input  id="commentDescription">
        </div>
        <div class="mb-3">
          <div >
            <!-- Additional form elements can be added here -->
          </div>
        </div>
        <button id="postBTN" class=" addCommentBTN btn btn-primary">Post</button>
      </div>
    </div>
  </div>
  <div>
    {{#if comments}}
    <h3>Comments:</h3>
    {{#each comments}}
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">{{this.username}}:</div>
      <div class="card-body">
        <p class="card-text">{{this.description}}</p>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
