<div class="card text-bg-primary mb-3 col-12 w-75">
  <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">{{title}}</h5>
                </div>
                <div class="col">
                  <p>{{username}} on {{date}}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">{{description}}</p>
          <div class="dropdown">
                <button id="commentBTN" class=" btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  Update
                </button>
                <div class="dropdown-menu p-4">
                  <div id="forBlogId" class="mb-3" data-blogId="{{id}}">
                    <label>Title:</label>
                    <input id="title" value="{{title}}">
                    <label>Comment:</label>
                    <input id="commentDescription" value="{{description}}">
                  </div>
                  <div class="mb-3">
                    <div>

                    </div>
                  </div>
                    <button type="button" id="forUpdate" class=" updateBTN btn btn-primary">Update</button>
                </div>
                <div data-blogId="{{id}}">
                  <button type="button" id="forDelete" class=" deleteBTN btn btn-danger">Delete</button>
                </div>

              </div>           
          </div>
</div>